@import url(“styles/header.css”);
@import url(“styles/banner.css”);

:root {
    --cor-de-fundo: #ffb2d8;
    --branco: #f35eb0;
    --laranja: #ff2a7c;
    --azul-degrade: linear-gradient(97.54deg, #ff94d6 35.49%, hsl(323, 67%, 57%) 165.37%);
    --fonte-principal: “Poppins”;
    }
body {
    background-color: rgb(218, 96, 153);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    }
        
h1 {
    background-color: rgb(221, 120, 182);
            }
.lista-menu {
    display: none;
    }
.container__botao:checked ~ .lista-menu {
    display: block;
    }
.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    }
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    }
.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
    }
.lista-menu__i/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}tem {
    padding: 1em;
    background-color: var(--branco);
    }
.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    }
.container__botao {
    display: none;
    }
.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
    }
.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    }
.banner__texto {
    font-weight: 500;
    margin: 1em 0;
    }
.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    }
.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url(“../img/Lupa.svg”) no-repeat;
    background-position: 1em;
    }
